<h1>About</h1>

<span>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
  （※この文章の下に画像を配置する）
</span>

<!--    <img src="/assets/img_logo_pc.png" alt="">
/app/assets/images/内に画像ファイル格納してファイル名を変える-->

